
<%= form_for(@user, :html => {:class=>'form-signup'}) do |f| %>

  <h2 class="form-signup-heading">Sign Up</h2>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <label for="inputEmail" class="sr-only">Email address</label>
  <input id="inputEmail" name="user[email]" class="form-control" placeholder="Email address" required="" autofocus="" type="email">

  <br>
  <label for="inputPassword" class="sr-only">Password</label>

  <input id="inputPassword" name="user[password]" class="form-control" placeholder="Password" required="" type="password">

    <label for="inputPassword" class="sr-only">Password Confirmation</label>

  <input id="inputPassword" name="user[password_confirmation]" class="form-control" placeholder="Password Confirmation" required="" type="password">

<label for="inputPassword" class="sr-only">Site</label>

  <input id="inputPassword" name="user[site]" class="form-control" placeholder="Site" required="" type="text" value="https://technexusllc.highrisehq.com/">
  <br>

  <label for="inputPassword" class="sr-only">Api token</label>

  <input id="inputPassword" name="user[token]" class="form-control" placeholder="Api token" required="" type="text" value="c18059e427e8f6b6f0ecb4fe2b04445f">

  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">

    Sign up

</button>
<% end %>