

<%= render template: "/layouts/sidebar" %>


<div class="main">
<p class="page-header">Public Profile</p>

<table>

<tbody>
<% for e in @entries %>
  <% if (e.visibility == true && @user.friends.where("user_id =?",current_user.id)) || (e.visibility == false && @user.id = current_user.id) %>
  <tr>
    <td>
    <%= e.entry_text %>
    <br>
    Last updated on <%= e.updated_at.to_date %>
    </td>
  </tr>
  <% end %>
<% end %>

</tbody>
</table>





</div>
<br>



