<div class="sidebar">
<ul>
  <li>
    <%= link_to "Entries", "/entries" %>
  </li>
  <li>
    <%= link_to "Public profile", @user %>
  </li>
  <li>
      <%= link_to "Friends","/users" %>
  </li>
</ul>
</div>